<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Profile</div>
      <div class="card-body">
        <form novalidate [formGroup]="profileForm" (ngSubmit)="onSave()">
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              id="username"
              class="form-control"
              type="text"
              formControlName="username"
              name="username"
              required
            >
          </div>
          <div class="form-group">
            <label for="first_name">First name:</label>
            <input
              id="first_name"
              class="form-control"
              type="text"
              formControlName="first_name"
              name="first_name"
              required
            >
          </div>
          <div class="form-group">
            <label for="last_name">Last name:</label>
            <input
              id="last_name"
              class="form-control"
              type="text"
              formControlName="last_name"
              name="last_name"
              required
            >
          </div>
          <div class="form-group">
            <label for="photo">Photo:</label>
            <input
              id="photo"
              class="form-control-file"
              type="file"
              formControlName="photo"
              name="photo"
              required
              (change)="onChange($event)"
            >
          </div>
          <button
            class="btn btn-primary btn-block"
            type="submit"
            [disabled]="true"
          >Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
