<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" [routerLink]="['/']">neopantry</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recipe']">Recipes</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/user', user.id, 'recipe']">User Recipes</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
    </ul>
    <button class="btn btn-primary ml-2" type="button" *ngIf="user" (click)="logOut()">Log out</button>
  </div>
</nav>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
