<div class="row">
  <div class="col">
    <div class="card-group">
      <div class="card" [routerLink]="['/recipe', recipe.id]" *ngFor="let recipe of recipeData.results">
        <img class="card-img-top" [src]="recipe.photo" [alt]="recipe.name">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <span>{{ recipe.averageRating }}/5</span><br>
          <span>Reviews (<a href [routerLink]="['/recipe', recipe.id, 'review']">{{ recipe.numReviews }}</a>)</span>
        </div>
      </div>
    </div>
  </div>
</div>
